body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgba(255, 255, 255, 0.5)),
    url("https://images.pexels.com/photos/5122187/pexels-photo-5122187.jpeg");
  background-size: cover;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}

h1 {
  font-size: 4rem;
  color: #ff7003;
  text-align: center;
  font-weight: bold;
  margin-bottom: 2rem;
}

form {
  background: rgba(255, 255, 255, 0.85);
  padding: 1.5rem 2rem;
  border-radius: 2rem;
  gap: 1rem;
  margin-bottom: 2rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

input,
select {
  padding: 0.9rem 1.5rem;
  border-radius: 1.5rem;
  font-size: 1rem;
  border: none;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border: #fd7e4c66 2px solid;
  outline: none;
  transition: all 0.2s ease;
}

input:focus,
select:focus {
  transform: scale(1.03);
  border: #fe9b45 solid 2px;
}

.button {
  background-color: #3a5e4c;
  color: white;
  padding: 1rem 2.5rem;
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
  border-radius: 1.5rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
  transform: scale(1.05);
  background-color: #2e4a3c;
}

#container {
  display: flex;

  justify-content: center;

  gap: 1.5rem;
  flex-wrap: wrap;
}

#container p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  color: #333;
  width: 260px;
  height: 260px;
  border-radius: 50%;
  line-height: 1.4;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
  border: #fe9b4571 2px solid;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

#container p:hover {
  transform: scale(1.05);
}

.greeting {
  max-width: 700px;
  font-size: 2.2rem;
  font-weight: 700;
  color: #4a3e0a;
  text-align: center;
  padding: 3rem 2rem;
  border-radius: 2rem;
  margin: 2rem 1rem;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  line-height: 1.3;
}
